$primary: #004e66;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Nunito, sans-serif;
    background: linear-gradient(-45deg, #e5ffb4, #ee7752, #f3851d, #e73c7e, #23a6d5, #23d5ab, #4cdb47);
    background-size: 400% 400%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// --------------------
// Style for App component
.App {
    //text-align: center;
    display: flex;
    justify-content: center;
}

// Style for Home component
.Home {
    p {
        font-size: 1.3em;
        color: #e0e0e0;
    }
}

a {
    //color: white;
    padding: 0 5px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a.active {
    font-weight: bold;
    text-decoration: none;
}

// This is the wrapper for welcome page

.Welcome {
    margin-top: 100px;
    margin-bottom: 50px;
}

// This is the wrapper for the

.content-wrapper {
    margin-top: 160px;
    width: 60vw;
    padding: 30px;
    //background-color: #004e6609;
    //border: 1px solid #f4f4f47a;
    // border-radius: 20px;
}

.welcome-wrapper {
    margin-top: 10px;
    width: 100vw;
    padding: 30px;
    //background-color: #004e6609;
    //border: 1px solid #f4f4f47a;
    // border-radius: 20px;
}

// Style for Secret component
.Secret {
    .result {
        font-size: 1.2em;
        color: $primary;
    }
}

/* img {
  
    height: 150px;
    width: 170px;
   right: 10px;
} */

@keyframes float {
    0% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.avatar {
    width: 135px;
    height: 135px;
    box-sizing: border-box;
    //border: 5px #f3f3f3 solid;
    // border-radius: 10%;
    overflow: hidden;
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img {
        width: 100%;
        height: auto;
    }
}

h1 {
    margin-bottom: 20px;
    //font-size: 3em;
    //color: #fff;
}

/* #signup {
    margin-bottom: 30px;
    color: #004e66;
} */

/* label {
    color: #474747;
} */

// Navbar

.navbar {
    -webkit-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    -moz-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
}

.navbar-item {
    margin-left: 20px;
    display: block;
    margin-bottom: 3px;
}

.navbar-item:hover {
    background-color: #ebebeb;
    border-radius: 3px;
}

/* Signup & Login Form */

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

// Signup form background

.Signup {
    margin-top: 200px;
    width: 500px;
}
// Link

.login-google {
    font-size: 1em;
    color: #fff;
}

.login-google:hover {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

// Container Button + Link
.login-signup-google {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Create new Selection */

/* .selection-wrapper {
    margin-top: 130px;
    background-color: #dbdbdb;
    width: 500px;
} */

// My Selections

.sel-details-wrapper {
    // display: flex;
    //  justify-content: center;
    margin-top: 100px;
    padding-bottom: 50px;
    width: 60vw;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
}

// In My Selections

.row {
    margin-top: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#my-sel-icons {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 17px;
    box-sizing: border-box;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
    margin-top: 20px;
}

#my-sel-icons:hover {
    transform: translatey(3px);
    animation: float 9 ease-out;
    background-color: #ffffff8f;
}

/* #my-sel-icons:hover {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
} */

/* .icon-border {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 5px #f3f3f3 solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img {
        width: 100%;
        height: auto;
    }
} */

#icon-align {
    text-align: center;
}

.display-url {
    display: flex;
    flex-direction: row;
    // background-color: #e73c7e;
}

.card {
    width: 18rem;
}
