$primary: #004e66;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
    // margin-top: 90px;
    padding: 0;
    font-family: Nunito, sans-serif;
    //background-image: url("./pipes.png");
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// --------------------
// Style for App component
.App {
    //text-align: center;
    display: flex;
    justify-content: center;

    /* .App-header {
        background-color: $primary;
        padding: 20px;
        color: white;

        a {
            color: white;
            padding: 0 5px;
            text-decoration: none;
        }

        a.active {
            font-weight: bold;
        }
    } */
}

// Style for Home component
.Home {
    p {
        font-size: 1.3em;
        color: #e0e0e0;
    }
}

.content-wrapper {
    margin-top: 160px;
    width: 50vw;
    padding: 30px;
    //background-color: #004e6609;
    //border: 1px solid #f4f4f47a;
    border-radius: 20px;
}

/* .logo {
    background-image: url("./circular-button-with-two-arrows-pointing-both-laterals.png");
} */

// Style for Secret component
.Secret {
    .result {
        font-size: 1.2em;
        color: $primary;
    }
}

/* img {
  
    height: 150px;
    width: 170px;
   right: 10px;
} */

@keyframes float {
    0% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.avatar {
    width: 135px;
    height: 135px;
    box-sizing: border-box;
    //border: 5px #f3f3f3 solid;
    border-radius: 10%;
    overflow: hidden;
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img {
        width: 100%;
        height: auto;
    }
}

h1 {
    margin-bottom: 20px;
    //font-size: 3em;
    //color: #fff;
}

/* #signup {
    margin-bottom: 30px;
    color: #004e66;
} */

/* label {
    color: #474747;
} */

// Navbar

.navbar {
    -webkit-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    -moz-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
}

.nav-link:hover {
    text-decoration: none;
}

/* Signup & Login Form */

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

// Signup form background

.Signup {
    margin-top: 130px;
    /*    background: #f3f3f344;
    padding: 40px 40px 30px 40px;
    border-radius: 30px;
    border: #ccc 1px solid; */
    width: 500px;
    /* -webkit-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    -moz-box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51);
    box-shadow: 0px 8px 27px 1px rgba(82, 82, 82, 0.51); */
}

// Link

.login-google {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

// Container Button + Link
.login-signup-google {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Create new Selection */

/* .selection-wrapper {
    margin-top: 130px;
    background-color: #dbdbdb;
    width: 500px;
} */

li {
    list-style-type: none;
}
.list-group-item {
    border-radius: 10px;
}

.Selection {
    margin-top: 100px;
}

.Welcome {
    margin-top: 0px;
}

// My Selections

.list-group-item list-group-item-action {
    margin: 90px;
}

.card {
    width: 18rem;
}

.card-body {
    color: $primary;
}
